extends componentes/_base.jade
block titulo
  title Arma tu Paquete - Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      include componentes/_ofertas
    .columnaCentroCont
      br
      h2 Arma tu Paquete
      br
      br
      