extends componentes/_base.jade
block titulo
  title Destinos - Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      include componentes/_ofertas
    .columnaCentroCont
      br
      h2 Destinos
      br
      br
      ul.destinos-galeria
        li
          div(class="foto", id="yanahuara")
        li
          div(class="foto", id="yanahuara")
        li
          div(class="foto", id="yanahuara")
        li
          div(class="foto", id="yanahuara")
      