extends componentes/_base.jade
block titulo
  title Destinos - Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      a(href="")
        img(src="img/paquete.jpeg")
      a(href="")
        img(src="img/ofeta_01.jpg")
      a(href="")
        img(src="img/ofeta_02.jpg")
      a(href="")
        img(src="img/ofeta_03.png")
      a(href="")
        img(src="img/ofeta_04.png")
    .columnaCentroCont
      br
      h2 Destinos
      br
      br
      