extends componentes/_base.jade
block titulo
  title Galeria - Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      include componentes/_ofertas
    .columnaCentroCont
      br
      h2 Galeria
      br
      br
      