extends componentes/_base.jade
block titulo
  title Galeria - Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      include componentes/_ofertas
    .columnaCentroCont
      br
      h2 Galeria
      br
      br
      section.gallery
        nav
          ul
            li
              a(href="#Img_1")
                img(src="img/aniveraqp1.jpg", alt="img_1")
            li
              a(href="#Img_2")
                img(src="img/aniveraqp2.jpg", alt="img_2")
            li
              a(href="#Img_3")
                img(src="img/camana1.jpg", alt="img_3")
            li
              a(href="#Img_4")
                img(src="img/mollendo.jpg", alt="img_4")
        article#Img_1.target
          figure
            img(src="img/aniveraqp1.jpg", alt="img_1")
        article#Img_2.target
          figure
            img(src="img/aniveraqp2.jpg", alt="img_2")
        article#Img_3.target
          figure
            img(src="img/camana1.jpg", alt="img_3")
        article#Img_4.target
          figure
            img(src="img/mollendo.jpg", alt="img_4")
      