extends componentes/_base.jade
block titulo
  title Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      include componentes/_ofertas
    .columnaCentro
      br
      h2 Welcome
      br
      p
        strong YourOrMyTour
        lo invita a descubrir de la manera más segura, económica, puntual y divertida la belleza y tradición de la "Blanca Ciudad" de Arequipa.
        ul
          li Bienvenidos
          li Welcome
          li Willkommen
    .columnaDerecha
      h3.centrar.subtitulo Experiencias Vividas
      ul.fotosPortada
        li
          img(src="img/experiencia_01.jpg")
        li
          img(src="img/experiencia_01.jpg")
        li
          img(src="img/experiencia_01.jpg")
        li
          img(src="img/experiencia_01.jpg")
        li
          img(src="img/experiencia_01.jpg")
        li
          img(src="img/experiencia_01.jpg")
        li
          img(src="img/experiencia_01.jpg")