extends componentes/_base.jade
block titulo
  title Paquetes - Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      include componentes/_ofertas
    .columnaCentroCont
      br
      h2 Paquetes
      br
      br
      ul.paquetes-vista
        li
          a(href="")
            img(src="img/ofeta_01.jpg")
        li
          a(href="")
            img(src="img/ofeta_02.jpg")
        li
          a(href="")
            img(src="img/ofeta_03.png")
        li
          a(href="")
            img(src="img/ofeta_04.png")