extends componentes/_base.jade
block titulo
  title Paquetes - Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      include componentes/_ofertas
    .columnaCentroCont
      br
      h2 Paquetes
      br
      br
      .paquetes-vista
        table.table-fill
          thead
            tr
              th.text-center FAMILIARES
          tbody.table-hover
            tr
              td.text-left
                a(href="paquete-city-tour.html") CITY TOUR - AREQUIPA
            tr
              td.text-left PUERTO INKA - CARAVELI
            tr
              td.text-left CALETA SAN JOSE
            tr
              td.text-center
                img(src="img/familiaqp.jpg")