extends componentes/_base.jade
block titulo
  title Paquetes - Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      include componentes/_ofertas
    .columnaCentroCont
      br
      h2 Paquetes
      br
      br
      .paquetes-vista
        table.table-fill
          thead
            tr
              th.text-center FAMILIARES
          tbody.table-hover
            tr
              td.text-left
                a(href="paquete-city-tour.html") CITY TOUR - AREQUIPA
            tr
              td.text-left
                a(href="paquete-puerto-inka.html") PUERTO INKA - CARAVELI
            tr
              td.text-left
                a(href="paquete-caleta-san-jose.html") CALETA SAN JOSE
            tr
              td.text-center
                img(src="img/familiaqp.jpg")
        br
        br
        br
        br
        table.table-fill
          thead
            tr
              th.text-center CULTURAL
          tbody.table-hover
            tr
              td.text-left Cañon del Colca
            tr
              td.text-left City Tour
            tr
              td.text-left Toro Muerto
            tr
              td.text-center
                img(src="img/culturalaqp.jpg")
        br
        br
        br
        br
        table.table-fill
          thead
            tr
              th.text-center OCIO/DIVERSIÓN
          tbody.table-hover
            tr
              td.text-left Caminata Cañon del Colca
            tr
              td.text-left Escalata Volcan Misti
            tr
              td.text-left Canotaje Rio Chili
            tr
              td.text-center
                img(src="img/ocioaqp.jpg")
        br
        br
        br
        br