extends componentes/_base.jade
block titulo
  title Quienes Somos - Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      a(href="")
        img(src="img/paquete.jpeg")
      a(href="")
        img(src="img/ofeta_01.jpg")
      a(href="")
        img(src="img/ofeta_02.jpg")
      a(href="")
        img(src="img/ofeta_03.png")
      a(href="")
        img(src="img/ofeta_04.png")
    .columnaCentroCont
      br
      h2 Quines Somos
      br
      br
      h3.centrar Misión
      p Brindar el mejor servicio con el fin de lograr la plena satisfacción del cliente con nuestros paquetes turísticos a precios accesibles para que las familias, personas que quieran realizar negocios, congresos, estudios, cultural, entre otras. Todo ello para que los visitantes disfruten de conocer las maravillas de la región de Arequipa. Además de brindar la mejor asesoría para cualquier tipo de pedido de nuestros clientes.
      h3.centrar Visión
      p Para el año 2019 agencia de viajes YOUR OR MY TOUR será la mejor agencia de viajes de la región Arequipa brindando un servicio de calidad y contando con diferentes sucursales a nivel nacional y como la mentalidad de una expansión internacionalización. Teniendo en cuenta lugares que no son ofrecidos por las otras agencias.
      