extends componentes/_base.jade
block titulo
  title Sucursales - Your Or My Tour
block head
block contenido
  .contColumnas
    .columnaIzquierda
      include componentes/_ofertas
    .columnaCentroCont
      br
      h2 Sucursales
      br
      br
      