.footer
  .footerIzquierda
    p
      a(href="mail:yourormytour@yourormytour.com") yourormytour@yourormytour.com
    ul.listRedes
      li
        a(href="#", target="_blank")
          img(src="img/facebook.png")
      li
        a(href="#", target="_blank")
          img(src="img/twitter.png")
      li
        a(href="#", target="_blank")
          img(src="img/instagram.png")
  .footerCentro
    p CONTACTENOS:
    p 054 - 432122
    p
      strong RPM
      |  955632153
    p
      strong RPC
      |  965326531
  .footerDerecho
    img(src="img/paypal.png")
script(src="js/index.js")