.cabeceraLogo
  img(src="")
.cabeceraMenu
  nav
    ul.menutop
      li
        a(href="") ¿QUINES SOMOS?
      li
        a(href="") PAQUETES
      li
        a(href="") DESTINOS
      li
        a(href="") ARMA TU PAQUETE
      li
        a(href="") SUCURSALES
      li
        a(href="") GALERÍA