.cabeceraLogo
  a(href=".")
    h1
      p Your Or
      p My Tour
.cabeceraMenu
  nav
    ul.menutop
      li
        a(href="quines-somos.html") ¿QUINES SOMOS?
      li
        a(href="paquetes.html") PAQUETES
      li
        a(href="destinos.html") DESTINOS
      li
        a(href="arma-tu-paquete.html") ARMA TU PAQUETE
      li
        a(href="galeria.html") GALERÍA
      li
        a(href="escribenos.html") ¡ESCRÍBENOS!