a(href="")
  img(src="img/paquete.jpeg")
a(href="")
  img(src="img/ofeta_01.jpg")
a(href="", class="div-img hidden")
  img(src="img/ofeta_02.jpg", class="img")
  .overlay
  .text ¡Te
    br
    | esperamos!
a(href="")
  img(src="img/ofeta_03.png")
a(href="")
  img(src="img/ofeta_04.png")