#cont_7f12a8f98675120414eb8f9b064d0d31
  script(type="text/javascript", async src="https://www.tiempo.com/wid_loader/7f12a8f98675120414eb8f9b064d0d31")
a(href="")
  img(src="img/paquete.jpeg")
a(href="")
  img(src="img/aniversarioperu.jpg")
a(href="#", class="div-img hidden")
  img(src="img/aniversarioaqp.jpg", class="img")
  .overlay
  .text ¡Te
    br
    | esperamos!
a(href="")
  img(src="img/ofeta_03.png")